.input {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

.input label {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

.input input {
  font: inherit;
  display: block;
  font-weight: normal;
  width: 100%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.input input:focus {
  outline: none;
  border-color: #550041;
}


.valid input {
  border: 1px solid #ccc;
  background-color: white;
}

.valid input:focus {
  border-color: #000000;
  background-color: #fffbf684;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #b40e0e;
}




.selectedImg {
  margin: 1rem auto;
  padding: 1rem;
  width: 40%;
  max-width: 40rem;
}

.title {
  color: pink;
  font-weight: bolder;
  margin-bottom: 1rem;
}
