.users {
  height: 100%;
}

.ul {
  list-style: none;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

li {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 40%;
}

.title {
  margin: 0.5rem 0;
  padding-left: 1rem;
  padding-top: 1rem;
}

.selectedImg {
  margin-top: 1rem auto;
  width: 100%;
}

.editImage {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
   margin-top: 1rem auto;
  width: 100%;
}

.name {
  color: black;
  font-weight: bolder;
  text-decoration: underline;
  font-size: larger;
  text-align: center;
  margin-left: 0.5rem;
  text-decoration-style: solid;
  display: inline-block;
}

.title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.header {
  background-color: rgba(255, 192, 203, 0.586);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.icon {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  width: 3.2vw;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.icon:active {
  transform: scale(0.9);
  opacity: 1;
}

.editLabel {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
}

input {
  font: inherit;
  display: block;
  font-weight: normal;
  width: 90%;
  border: 1px solid #ccc;
  padding: 0.15rem;
  margin: 0.5rem auto;
}

input:focus {
  outline: none;
  border-color: #4f005f;
}

.saveBtn {
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
